    <!-- Header -->
    <header id="header" class="header">
      <div class="header-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-container text-right">
                <h1>
                  برنامه ای <br />برای
                  <span id="js-rotating"
                    >طراحان, بازاریابان, توسعه دهنده گان</span
                  >
                </h1>
                <p class="p-large">
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                  استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و
                  مجله در ستون و سطرآنچنان که لازم است
                </p>
                <a class="btn-solid-lg page-scroll" href="#your-link"
                  ><i class="fab fa-apple"></i>APP STORE</a
                >
                <a class="btn-solid-lg page-scroll" href="#your-link"
                  ><i class="fab fa-google-play"></i>PLAY STORE</a
                >
              </div>
            </div>
            <!-- end of col -->
            <div class="col-lg-6">
              <div class="image-container">
                <img
                  class="img-fluid"
                  src="{% static 'images/header-iphone.png' %}"
                  alt="alternative"
                />
              </div>
              <!-- end of image-container -->
            </div>
            <!-- end of col -->
          </div>
          <!-- end of row -->
        </div>
        <!-- end of container -->
      </div>
      <!-- end of header-content -->
    </header>
    <!-- end of header -->
    <!-- end of header -->