{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  {% if mode == 1 %}
    <h1>mode  programmer</h1>
  {% elif mode == 2 %}
    <h1>mode  programmers_admin</h1> 
  {% elif mode == 3 %}
    <h1>mode  admin</h1> 
  {% elif mode == 4 %}
    <h1>mode  customer</h1> 
  {% else %}
    <h1>No mode</h1> 
  {% endif %}
	<div class="limiter">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">تاریخ</th>
								<th class="column2">شماره سفارش</th>
								<th class="column3">نام</th>
								<th class="column4">قیمت</th>
								<th class="column5">تعداد</th>
								<th class="column6">جمع کل</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="column1">1398-09-29 01:22</td>
								<td class="column2">200398</td>
								<td class="column3">گوشی موبایل iPhone X 64Gb Grey</td>
								<td class="column4">999 هزار تومان</td>
								<td class="column5">1</td>
								<td class="column6">999 هزار تومان</td>
							</tr>
							<tr>
								<td class="column1">1398-09-28 05:57</td>
								<td class="column2">200397</td>
								<td class="column3">گوشی موبایل Samsung S8 Black</td>
								<td class="column4">756 هزار تومان</td>
								<td class="column5">1</td>
								<td class="column6">756 هزار تومان</td>
							</tr>
							<tr>
								<td class="column1">1398-09-26 05:57</td>
								<td class="column2">200396</td>
								<td class="column3">دسته حرفه ای کامپیوتر</td>
								<td class="column4">22 هزار تومان</td>
								<td class="column5">2</td>
								<td class="column6">44 هزار تومان</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
	</div>
  </div>
{% endblock content %}
