{% extends "base.html" %}
{% block content %}
<div class="container">
<section class="content">
	<div class="row">
		<!-- BEGIN NAV TICKET -->
		<div class="col-md-3">
			<div class="grid support">
				<div class="grid-body">
					<h2>جستجو</h2>
					
					<hr>
					
					<ul>
						<li class="active"><a href="{% url 'dashboard' %}">تیکت ها<span class="pull-right"> </span></a></li>
						{% if show_tasks %}<li><a href="{% url 'tasks' %}">وظایف<span class="pull-right"> </span></a></li>		{% endif %}
					</ul>
					<!--<hr>
					<p><strong> </strong></p>
					<ul class="support-label">
						<li><a href="#"><span class="bg-blue">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-red">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-yellow">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-black">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-light-blue">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-green">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-purple">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-teal">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li> 
					</ul> -->
				</div>
			</div>
		</div>
		<!-- END NAV TICKET -->
		<!-- BEGIN TICKET -->
		<div class="col-md-9">
			<div class="grid support-content">
				 <div class="grid-body">
					 <h2>تیکت ها</h2>
					 <hr>
					 <div class="btn-group">
						{% if 'close/' in request.GET or 'close' in request.GET %}
							<button onclick="location.href='{% url 'dashboard' %}';" type="button" class="btn btn-default">باز</button>
							<button type="button" class="btn btn-info active">بسته</button>
							<button onclick="location.href='{% url 'dashboard' %}?prog';" type="button" class="btn btn-default">در حال بررسی</button>
					 {% elif 'prog/' in request.GET or 'prog' in request.GET %}
							<button onclick="location.href='{% url 'dashboard'%}';" type="button" class="btn btn-default">باز</button>
							<button onclick="location.href='{% url 'dashboard'%}?close';" type="button" class="btn btn-default ">بسته</button>
							<button type="button" class="btn btn-info active">در حال بررسی</button>
					 {% else %}
					 		<button type="button" class="btn btn-info active">باز</button>
							<button onclick="location.href='{% url 'dashboard'%}?close';" type="button" class="btn btn-default">بسته</button>
							<button onclick="location.href='{% url 'dashboard'%}?prog';" type="button" class="btn btn-default">در حال بررسی</button>
					 {% endif %}
					</div>
					 
					 <div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">  دست بندی :  </button>
						<ul class="dropdown-menu fa-padding" role="menu">
							<li><a href="#"><i class="fa "></i> جدیدترین</a></li>
							<li><a href="#"><i class="fa"> </i> قدیمی ترین</a></li>
						</ul>
					</div>
					
					<!-- BEGIN NEW TICKET -->
					<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#newIssue">تیکت جدید</button>
					<div class="modal fade" id="newIssue" tabindex="-1" role="dialog" aria-labelledby="newIssue" aria-hidden="true">
						<div class="modal-wrapper">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header bg-blue">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h4 class="modal-title"><i class="fa fa-pencil"></i> ایجاد تیکت جدید</h4>
									</div>
									<form action="{% url 'dashboard' %}" method="post" >
										{% csrf_token %}
										<div class="modal-body">
											<div class="form-group">
												<input name="title" type="text" class="form-control" placeholder="موضوع">
											</div>
											<div class="form-group" >اولویت :
													<select class="input-field" name="olaviat" id="olaviat">
													{% for key,value in olaviatha.items %}
														<option value={{ value }} >{{ value }}</option>
													{% endfor %}
													</select> 
											</div>
											<div class="form-group">
												<textarea name="description" class="form-control" placeholder="شرح کامل تیکت را عنوان کنید " style="height: 120px;"></textarea>
											</div>
											<div class="form-group">
												<input type="file" name="attachment">
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> خروج </button>
											<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-pencil"></i> ایجاد</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- END NEW TICKET -->
					 
					<div class="padding"></div>
					 
					<div class="row">
						<!-- BEGIN TICKET CONTENT -->
						<div class="col-md-12">
							<ul class="list-group fa-padding">
							{% for tiket in tikets %}
								<li class="list-group-item"> 
									<div class="media">
										<i class="fa fa-angle-double-left"></i>
										<div class="media-body">
											<strong><a href="{% url 'listing' tiket.id %}"> {{tiket.title}} </a></strong> 
											{% if tiket.olaviat in "کم" %}
												<span class="badge badge-default">{{tiket.olaviat}}</span>
											{% elif tiket.olaviat in "متوسط" %}
												<span class="badge badge-info">{{tiket.olaviat}}</span>
											{% elif tiket.olaviat in  "خیلی زیاد" %} 
												<span class="badge badge-warning">{{tiket.olaviat}}</span>
											{% elif tiket.olaviat in "بحرانی" %} 
												<span class="badge badge-danger">{{tiket.olaviat}}</span>
											{% endif %}
											{% if tiket.vaziat in "باز" %}
												<span class="badge badge-primary">{{tiket.vaziat}}</span>
											{% elif tiket.vaziat in "بسته" %} 
												<span class="badge badge-default">{{tiket.vaziat}}</span>
											{% elif tiket.vaziat in "در حال بررسی" %} 
												<span class="badge badge-info">{{tiket.vaziat}}</span>
											{% endif %}
											
											<p class="info">ایجاد شده توسط :  {{tiket.user.first_name}}</p>
										</div>
									</div>
								</li>
								{% endfor %}
							</ul>
							
							<!-- BEGIN DETAIL TICKET -->
							
							<!-- END DETAIL TICKET -->
						</div>
						<!-- END TICKET CONTENT -->
					</div>
				</div>
			</div>
		</div>
		<!-- END TICKET -->
	</div>
</section>
</div>
{% endblock content %}