{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<section class="content">
	<div class="row">
		<!-- BEGIN NAV TICKET -->
		<div class="col-md-3">
			<div class="grid support">
				<div class="grid-body">
					<h2>جستجو</h2>
					
					<hr>
					
					<ul>
						<li class="active"><a href="{% url 'listing' listing.id  %}">اطلاعات تیکت<span class="pull-right"> </span></a></li>
						<li><a href="#"> وظایف مربوط به تیکت <span class="pull-right"> </span></a></li>		
					</ul>
					<!--<hr>
					<p><strong> </strong></p>
					<ul class="support-label">
						<li><a href="#"><span class="bg-blue">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-red">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-yellow">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-black">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-light-blue">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-green">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-purple">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-teal">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li> 
					</ul> -->
				</div>
			</div>
		</div>
		<!-- END NAV TICKET -->
		<!-- BEGIN TICKET -->
		<div class="col-md-9">
			<div class="grid support-content">
				 <div class="grid-body">
            <fieldset class="form-group">
                  <legend class="border-bottom mb-4 pb-2 ">عنوان تیکت : {{ listing.title }}</legend>
                  
                  <span class="btn btn-alert">اولویت : {{ listing.olaviat }} </span> <span class="btn btn-success"> وضعیت : {{ listing.vaziat }} </span>
                  <span class="btn btn-alert"> وضعیت :</span>
                  <form class="form-inline" method="POST" action="{% url 'listing' listing.id %}">
                      {% csrf_token %} 
                          <span > <select class="select form-control ml-3" name="vaziat" id="vaziat">
                              {% for key,value in vaziatha.items %}
                                <option value="{{ value }}" 
                                {% if value == listing.vaziat %}
                                    selected
                                {% endif %}
                                >{{ value }}</option>
                              {% endfor %}
                          </select> </span>
                     <input  class="btn btn-outline-info " name="change" type="submit" value="تغییر وضعیت">
                  </form>
                    <p><b> فرستنده : </b> {{ listing.user.first_name }} {{ listing.user.last_name }}</p>
                    {{ listing.description }} 
                  </div>
            </fieldset>
					<div class="padding"></div>
  					<div class="row">
             <div class="col-sm-12">
						<!-- BEGIN TICKET CONTENT -->
            {% if replys %}
            
              <legend class="border-bottom mb-4 pb-2 pr-2 ">پاسخ های این تیکت :</legend>
              {% for reply in replys %}
                <div class="list-group"> 
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start border-bottom">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">  </h5>
                      <small>3 days ago</small>
                    </div>
                    <p class="mb-1">{{reply.reply_message}}</p>
                    <small>{{reply.user}}</small>
                  </a>
                </div>
              {% endfor %}
              {% endif %}
            </div>
            
          </div>
          </div>
          <div class="grid support">
				    <div class="grid-body">
              <form method="POST" class="form-account" action="{% url 'listing' listing.id %}">
                {% csrf_token %}
                  <fieldset class="form-group">
                      <legend class="border-bottom mb-4 pr-3">پاسخ به تیکت :</legend>
                  </fieldset>
                  <div class="form-group">
                    <textarea class="input-field" id="reply" name="reply" rows="4" cols="50"></textarea>
                  </div>
                  <div class="border-top pt-3">
                    <input  class="btn btn-dark " name="submit" type="submit" value="ارسال">   
                  </div>
                </form> 
            </div>         
        </div>
    </div>
  </div>
</div>

{% endblock content %}