{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
                <div class="account-box">
                    <div class="account-box-title text-right">ورود به تاپ کالا</div>
                    <div class="account-box-content">
                        <form id="login-form" method="POST" class="form-account">
                            {% csrf_token %}
                            <div class="form-account-title">نام کاربری</div>
                            <div class="form-account-row">
                                <label for="id_username" class="input-label"><i class="now-ui-icons users_single-02"></i></label>
                                <input id="id_username" name="username" class="input-field" type="text" placeholder="نام کاربری خود را وارد نمایید">
                            </div>
                            <div class="form-account-row">
                                <label for="id_password" class="input-label"><i class="now-ui-icons ui-1_lock-circle-open"></i></label>
                                <input id="id_password" name="password" class="input-field" type="password" placeholder="رمز عبور خود را وارد نمایید">
                            </div>
                            <div class="form-account-row form-account-submit">
                                <div class="parent-btn">
                                    <button  type="submit" value="Login" class="dk-btn dk-btn-info"> ورود به تاپ کالا <i class="fa fa-sign-in"></i></button>
                                </div>
                                {% if form.errors %}
                                    <p class=" label label-danger">
                                    اطلاعات کاربری شما موجود نمی باشد
                                        لطفا دوباره امتحان کنید 
                                    </p>
                                {% endif %}
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        <div>
    </div>
{% endblock content %}