{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
                <div class="account-box">
                    <a href="#" class="logo">
                            <img src="{% static "assets/img/logo.png" %}" alt="logo">
                    </a>
                    <div class="account-box-title text-right">ورود به تاپ کالا</div>
                    <div class="account-box-content">
                    



                    
                    </div>
                </div>
            </div>
        <div>
    </div>
{% endblock content %}