{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
            <form id="login-form" method="POST" class="form-account" action="{% url 'new-tiket' %}">
                {% csrf_token %}
                <div >عنوان :</div>
                <input id="id_username" name="title" class="input-field" type="text" placeholder="عنوان تیکت را وارد نمایید">
                <br>
                
                <div >اولویت :</div>
                <select class="input-field" name="olaviat" id="olaviat">
                    {% for key in olaviatha %}
                        <option value={{ key }} >{{ key }}</option>
                    {% endfor %}
                </select>
                <textarea class="input-field" id="description" name="description" rows="4" cols="50"></textarea>
                <br>
                <input  class="btn btn-dark "name="submit" type="submit" value="ارسال">
            </form>
        </div>
    </div>
</div>
{% endblock content %}
