{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<section class="content">
	<div class="row">
		<!-- BEGIN NAV TICKET -->
		<div class="col-md-3">
			<div class="grid support">
				<div class="grid-body">
					<h2>جستجو</h2>
					
					<hr>
					
					<ul>
						<li><a href="{% url 'dashboard' %}">تیکت ها<span class="pull-right"> </span></a></li>
						<li class="active"><a href="{% url 'tasks' %}">وظایف<span class="pull-right"> </span></a></li>
					</ul>
					
					<hr>
					
					<p><strong> </strong></p>
					<ul class="support-label">
						<li><a href="#"><span class="bg-blue">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-red">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-yellow">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-black">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-light-blue">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-green">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-purple">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
						<li><a href="#"><span class="bg-teal">&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class="pull-right"> </span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- END NAV TICKET -->
		<!-- BEGIN TICKET -->
		<div class="col-md-9">
			<div class="grid support-content">
				 <div class="grid-body">
					 <h2>وظایف</h2>
					 <hr>
					 <div class="btn-group">
						<button type="button" class="btn btn-default active">باز</button>
						<button type="button" class="btn btn-default">بسته</button>
					</div>
					 
					 <div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">  دست بندی :  </button>
						<ul class="dropdown-menu fa-padding" role="menu">
							<li><a href="#"><i class="fa "></i> جدیدترین</a></li>
							<li><a href="#"><i class="fa"> </i> قدیمی ترین</a></li>
						</ul>
					</div>
					
					<!-- BEGIN NEW TICKET -->
					<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#newIssue">وظیفه جدید</button>
					<div class="modal fade" id="newIssue" tabindex="-1" role="dialog" aria-labelledby="newIssue" aria-hidden="true">
						<div class="modal-wrapper">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header bg-blue">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h4 class="modal-title"><i class="fa fa-pencil"></i> ایجاد وظیفه جدید</h4>
									</div>
									<form action="#" method="post" >
										{% csrf_token %}
										<div class="modal-body">
											<div class="form-group" >
													{{form.tiket | as_crispy_field}}
											</div>
											<div class="form-group">
												{{form.user | as_crispy_field }}
											</div>
											<div class="form-group">
												{{form.task_message | as_crispy_field }}
											</div>
											<div class="form-group">
												<input type="file" name="attachment">
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> خروج </button>
											<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-pencil"></i> ایجاد</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- END NEW TICKET -->
					 
					<div class="padding"></div>
					 
					<div class="row">
						<!-- BEGIN TICKET CONTENT -->
						<div class="col-md-12">
							<ul class="list-group fa-padding">
							{% for task in tasks %}
								<li class="list-group-item"> 
									<div class="media">
										<i class="fa fa-angle-double-left"></i>
										<div class="media-body">
											<strong><a href="#""> {{task.task_message}} </a></strong> <span class="label label-danger">{{task.tiket}}</span>
											<p class="info">ایجاد شده توسط :  {{task.creator}}</p>
										</div>
									</div>
								</li>
								{% endfor %}
							</ul>
							
							<!-- BEGIN DETAIL TICKET -->
							
							<!-- END DETAIL TICKET -->
						</div>
						<!-- END TICKET CONTENT -->
					</div>
				</div>
			</div>
		</div>
		<!-- END TICKET -->
	</div>
</section>
</div>
{% endblock content %}