{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<section class="content">
	<div class="row">
		<!-- BEGIN TICKET -->
		<div class="col-md-12">
			<div class="grid support-content">
				 <div class="grid-body">
            <fieldset class="form-group">
                  <legend class="border-bottom mb-4 pb-2 "> در ارتباط با تیکت : {{ listing.tiket.title }}</legend>
                  
                  <span class="btn btn-success"> وضعیت : {{ listing.vaziat }} </span>
                  <form class="form-inline" method="POST" action="{% url 'listing' listing.id %}">
                      {% csrf_token %} 
                          <span > <select class="select form-control ml-3" name="vaziat" id="vaziat">
                              {% for key,value in vaziatha.items %}
                                <option value="{{ value }}" 
                                {% if value == listing.vaziat %}
                                    selected
                                {% endif %}
                                >{{ value }}</option>
                              {% endfor %}
                          </select> </span>
                     <input  class="btn btn-outline-info " name="change" type="submit" value="تغییر وضعیت">
                  </form>
                    <p><b> فرستنده : </b> {{ listing.user.get_full_name }} </p>
                    {{ listing.description }}  
                  </div>
            </fieldset>
					<div class="padding"></div>
  					<div class="row">
             <div class="col-sm-12">
						<!-- BEGIN TICKET CONTENT -->
            {% comment %} {% if replys %}
            
              <legend class="border-bottom mb-4 pb-2 pr-2 ">پاسخ های این تیکت :</legend>
              {% for reply in replys %}
                <div class="list-group"> 
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start border-bottom">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">  </h5>
                      <small>3 days ago</small>
                    </div>
                    <p class="mb-1">{{reply.reply_message}}</p>
                    <small>{{reply.user.first_name}} {{reply.user.lastname_name}}</small>
                  </a>
                </div>
              {% endfor %}
              {% endif %} {% endcomment %}
            </div>
            
          </div>
          </div>
          <div class="grid support">
				    <div class="grid-body">
              <form method="POST" class="form-account" action="{% url 'listing' listing.id %}">
                {% csrf_token %}
                  <fieldset class="form-group">
                      <legend class="border-bottom pb-3 pr-3">ارسال پاسخ :</legend>
                  </fieldset>
                  <div class="form-group">
                    <textarea class="input-field" id="reply" name="reply" rows="4" cols="50"></textarea>
                  </div>
                  <div class="border-top pt-3">
                    <input  class="btn btn-dark " name="submit" type="submit" value="ارسال">   
                  </div>
                </form> 
            </div>         
        </div>
    </div>
  </div>
</div>

{% endblock content %}