{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
              <ul>
                {% for task in object_list %}
                    <li>{{ task.task_message }} </li>
                    <li>{{ task.vaziat }}</li>
                    <li>{{ task.wuser }}</li>
                    <li>{{ task.replay_to }}</li>
                {% empty %}
                    <li>{{ object_list}}</li>
                {% endfor %}
              </ul>
        </div>
    </div>
</div>
{% endblock content %}